/*.accordion{
    background-color: #6c757d !important;
}

.accordion-header{
    background-color: #6c757d !important;
}
.accordion-body{
    background-color: #6c757d !important;
}
.accordion-item{
    background-color: #6c757d !important;
}*/
.accordion-button{
    background-color: #6c757d !important;
}