.title-bar {
    -webkit-app-region: drag; /* Make the whole div draggable */
  }
  button {
    -webkit-app-region: no-drag; /* Disable dragging on buttons */
  }
  .nav-min-max{
    color: white;
  }
  .nav-min-max:hover{
    background-color: #6c757d !important;
  }
  .nav-close{
    color: white;
  }
  .nav-close:hover{
    background-color: #dc3545 !important;
  }
